<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Velocity project creation">

    <listeners>
        <listener class-name="com.globallogic.velocity.automation.reports.GenerateReports"/>
        <listener class-name="com.globallogic.velocity.automation.listners.SuiteExecutionListener"/>
    </listeners>

    <test name="Project Creation" preserve-order="true">

        <classes>
            <class name="com.globallogic.velocity.automation.tests.TestNgTests"/>
        </classes>

    </test>
</suite>